body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*height: 100vh;*/
    text-align: center;
    padding: 0 18px;
    background: #FFEFE3;
}

h1 {
    font-family: "G마켓 산스 TTF";
    font-weight: bold;
    font-size: 47px;
    margin-top: 34px;
    margin-bottom: 18px;
}

.titleCommentary{
    font-family: "Inter";
    font-weight: 550;
    font-size: 11px;
}

.back {
    width: 50%;
}

.container {
    background: white;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
    padding: 30px 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
}


.number {
    font-family: "G마켓 산스 TTF";
    font-weight: bold;
    color: #FF7000;
    font-size: 17px;
}

.subTitle {
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 15px;
}

select {
    margin: 15px 0 15px 0;
}

.toggleBox {
    align-items: center;
    width: 100%;
}

.toggleTitleBox {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;

}

.commentary {
    font-family: "Noto Sans";
    font-size: 10px;
    color: #6C6C6C;
    margin: 12px 0 16px 0;
}

.toggleTitle {
    margin: 20px auto;
    border-top: 1.2px solid black;
    border-bottom: 1.2px solid black;
    width: 100%;
}

.toggleTitle:hover {
    cursor: pointer;
}

select {
    width: 136px; /* 원하는 너비설정 */
    height: 37px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

select:hover {
    cursor: pointer;
}

.icon {
    font-size: 10px;
    margin-left: 6px;
}

.rotated {
    display: inline-block;
    transform: rotate(180deg);
}

.toggleCommentary {
    text-align: left;
    font-size: 9px;
    margin-bottom: 3px;
    color: gray;
    display: flex;
    align-items: center;
}

.spot {
    font-size: 3px;
    /*padding-bottom: 30px;*/
}

.toggle {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.rotated {
    transform: rotate(180deg);
}

.toggleCommentaryBox {
    width: 100%;
    margin-top: 10px;
}


table{
    width:100%;
}

th {
    border: 1px solid darkgray;
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 13px;
    background: #E5E6E6;
    line-height: 50px;
    text-align: center;
    border: none;
}

.thStart {
    border-top-left-radius: 5px;
}

.thEnd {
    border-top-right-radius: 5px;
}


td {
    font-family: "Noto Sans";
    font-size: 10px;
    line-height: 20px;
    text-align: center;

    border: 1.5px solid #E5E6E6;
}

.end {
    border-right: none;
}

.top {
    border-top: none;
}

.bold {
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 10px;
    border-left:none;
}

.tableCommentary {
    font-family: "Noto Sans";
    color: #909090;
    font-size: 7px;
}

.commentaryBox {
    text-align: left;
    margin: 0 auto;
    width: 50%;
}

.commentarySet {
    font-family: "Noto Sans";
    font-size: 10px;
    color: #6C6C6C;
    margin: 0 0 3px 0;
}

.submit {
    background: #FF7000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom : 40px;
    height: 63px;
    width: 360px;
    font-family: "Inter";
    font-size: 27px;
    font-weight: bolder;
    color: #FFFFFF;
    border: none;
}

.result {
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.resultCommentary {
    font-family: "Inter";
    font-size: 11px;
    line-height: 16px;

}

.lastComment {
    font-family: "Inter";
    font-size: 15px;
    font-weight: bold;
}

.kakao {
    background: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-bottom : 40px;
    height: 98px;
    width: 317px;
    font-family: "Inter";
    font-size: 27px;
    font-weight: bolder;
    border: none;
}

.resultToggleCommentary {
    font-family: "Noto Sans";
    text-align: left;
    font-size: 9px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.elementCommentBox {
    display: flex;
    margin-bottom: 30px;
}

.calculateNumberingContainer {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.calculateContainer {
    background: #D9D9D9;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.elementComment {
    font-family: "Noto Sans";
    font-size: 10px;
}

.calculateNumber {
    font-family: "Noto Sans";
    font-weight: bold;
    margin-right: 5px;
    padding-bottom: 8px;
}

.calculateElement {
    font-family: "Noto Sans";
    font-weight: bold;
}

.five {
    flex: 5;
}

.two {
    flex: 2;
}

.three {
    flex: 3;
}

.one {
    flex: 1;
}

.four {
    flex: 4;
}

.six {
    flex: 6;
}

.seven {
    flex: 7;
}

.eight {
    flex: 8;
}

.nine {
    flex: 9;
}

.proComment {
    text-align: left;
    font-family: "Noto Sans";
    font-size: 10px;
    margin-bottom: 5px;
}

.proTable {
    margin-bottom: 80px;
}

.proTitle {
    background: #FF7000;
    font-family: "G마켓 산스 TTF Bold";
    color: #FFFFFF;
    font-size: 20px;
}

.tdStart{
    font-family: "Noto Sans";
    font-weight: bold;
    border-left: none;
    background: #F8F8F8;
    border-right: none;
    text-align: center !important;
    width: 20%;

}

.tdEnd {
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.tdTop{
    border-top:none;
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 14px;
}

.tdBottom{
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom:none ;
}

img {
    display: block;
    margin-left: auto;
    margin-right: 5px;
}

.bold {
    font-weight: bold;
}

.summary1 {
    font-family: "Noto Sans";
}

.proDetailBox {
    display: flex;
    flex-direction: column;
}

.proDetailLineBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;

}

.proDescription {
    text-align: left;
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 14px;
}

.proDetailComment {
    font-family: "Noto Sans";
    color: #B1B1B1;
    font-size: 10px;
    font-weight: lighter;
}

.proDetailPre {
    text-align: left;
    font-size: 11px;
}

.subCommentary {
    line-height: 15px;
}

.twoLinePlus {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.oneLine {
    padding-top: 2px;
}

.left1 {
    padding-right: 4px;
}

.left2 {
    padding-left: 3px ;
}

.left3 {
    padding-left: 15px;
}

.left4 {
    padding-left: 5px;
}

.normalDescription {
    font-family: "Noto Sans";
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    margin-top: 70px;

}

.bold2 {
    font-weight: bold;
}

.red {
    color: #FF0000;
}

